<div class="vertical-center">
  <!-- 
    ^--- Added class  -->
  <div class="container-fluid">
    <h1 class="text-center text-danger">Wie fühlt sich ein Gedicht ein?</h1>

    <div class="container-fluid" style="margin-left: -120px">
      <div class="row">
        <div class="col text-right pt-5">
          <h3>Betonung</h3>
        </div>
        <div class="col">
          <canvas id="canvas" width="500" height="100"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col text-right pt-5">
          <h3>Tempo</h3>
        </div>
        <div class="col">
          <canvas id="canvas2" width="500" height="100"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col text-right pt-5">
          <h3>Beat</h3>
        </div>
        <div class="col">
          <canvas id="canvas3" width="500" height="100"></canvas>
        </div>
      </div>
    </div>
    <div class="text-center pt-5">
      <div *ngIf="playerstatus == 'paused'">
        <button type="button" class="btn btn-success" (click)="start()">
          Start
        </button>
      </div>
      <div *ngIf="playerstatus == 'playing'">
        <button type="button" class="btn btn-danger" (click)="stop()">
          Stop
        </button>
      </div>
        <div *ngIf="playerstatus == 'loading'">
          <button type="button" class="btn btn-danger" (click)="stop()">
            Loading
          </button>
        </div>
      </div>
    </div>
</div>

