<div class="vertical-center">
  <!-- 
    ^--- Added class  -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">

      </div>
      <div class="col-6">


        <h4>erlkoenig.online - Trainiere dein auditives Gespür</h4>
        <h1 class="text-left text-danger">Wie fühlt sich ein Gedicht ein?</h1>
        <div class="description">
          Beweg die Regler und hör dir das Gedicht an.
Spürst du den Rhythmus der Sprache?<br>Sprich mit und nimm deine eigene Version auf.
        </div>
        <div class="" style="">
          <div class="row">
            <div class="description col-3 pt-5">
              Betonung
            </div>
            <div class="col-9">
              <canvas id="canvas" width="329" height="100"></canvas>
            </div>
          </div>
          <div class="row">
            <div class=" 
            description col-3 pt-5">
              Tempo
            </div>
            <div class="col-9">
              <canvas id="canvas2" width="329" height="100"></canvas>
            </div>
          </div>
          <div class="row">
            <div class="description col-3 pt-5">
              Beat
            </div>
            <div class="col-9">
              <canvas id="canvas3" width="329" height="100"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
        <div class="text-left pt-5" style="margin-top: 55%;">
          <div *ngIf="playerstatus == 'paused' || playerstatus == 'ended'">
            <img width="80" style="cursor: pointer;" (click)="start()" src="/assets/noun_play_2119021.svg">
            <br>
            Abspielen
          </div>
          <div *ngIf="playerstatus == 'playing'">
            <img width="80" style="cursor: pointer;" (click)="stop()" src="/assets/noun_pause_2349720.svg">
            <br>
            Pausieren
          </div>
          <div *ngIf="playerstatus == 'loading'">
            <img width="80" style="cursor: pointer;" src="/assets/hourglass.svg">
          </div>
        </div>
        </div>
<!--         <div class="row">
          <div *ngIf="playerstatus == 'paused' || playerstatus == 'ended'">
            <img width="50" style="cursor: pointer;" (click)="start()" src="/assets/noun_Record_2119031.svg">
          </div>
          <div *ngIf="playerstatus == 'playing'">
            <img width="50" style="cursor: pointer;" (click)="stop()" src="/assets/noun_Record_2135284.svg">
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
